# Entornos virtuales
.venv/
.venv-tf/
env/
venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs
*.log

# Archivos de configuración locales
*.env
*.ini

# Archivos de datos temporales
*.csv
*.xls
*.xlsx
*.db

# Modelos y checkpoints TensorFlow / Keras
checkpoint/
checkpoints/
*.h5
*.pb
saved_model/
logs/
events.out.tfevents.*

# Archivos de Jupyter
.ipynb_checkpoints/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
